<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
   {{title}}
  </h1>

  
  <!-- <nav class="navbar navbar-default">
      <div class="container-fluid">
          <ul class="nav navbar-nav navbar-left">
    <a routerLink="/addtask" routerLinkActive="active">Add Task</a>
    
    <a routerLink="/viewtask" routerLinkActive="active">View Task</a>
    </ul>
    </div>
  </nav> -->

  <nav class="navbar navbar-default">
      <div class="container-fluid">
           <!--  <ul class="nav navbar-nav navbar-left"> -->
                <a routerLink="/addProject" routerLinkActive="active">Add Project</a>
                  <a routerLink="/addTask" routerLinkActive="active">Add Task</a>
                 <a routerLink="/addUser" routerLinkActive="active">Add User</a>
                  <a routerLink="/viewTask" routerLinkActive="active">View Task</a>
                <!-- </ul> -->
        </div>
    </nav>


  <router-outlet></router-outlet>
</div>




